<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/png" href="./../../images/wanderer-fevicon.png">
        <title>
            A Wanderer
        </title>
        <link rel="stylesheet" href="./../../css/components/tarsar/tarsar.css">
    </head>

    <body>
        <div class="container">
            <header class="head">
                <div class="header-left-panel">
                    <div>
                        <img src="./../../images/wanderer-fevicon.png" alt="wanderer-logo" class="logo">
                    </div>
                    <div>
                        <h3 class="blog">
                            A Wanderer
                        </h3>
                        <h4 class="tagline">
                            Let's rest when we've seen all the world!
                        </h4>
                    </div>
                </div>

                <div class="header-right-panel">
                    <div class="link-section">
                        <a href="./../../../index.html" class="back-link"><img src="./../../images/back-arrow.png" alt="back-arrow" class="back-arrow">Country Roads...Take Me HOME!!</a>
                    </div>
                </div>
            </header>

            <div class="content-container">
                <div class="blog-content">
                    <img src="./../../images/Tarsar-Marsar.jpeg" alt="background-img" class="background">
                    <div class="title">Tarsar Marsar</div>
                    <div class="blog-inner-content">
                        <div class="author-desc">
                            <h4 class="author-info">By: <strong>Sujit</strong></h4>
                            <h4 class="author-info">Student @ <strong>Udacity</strong> </h4>
                            <h4 class="author-info">Loves travelling and writing about journeys!</h4>
                        </div>
                        <p>The <strong>Tarsar Marsar</strong> trek in Kashmir is the prettiest trek in India. The only other trek that comes close to its beauty is the Kashmir Great Lakes trek. It is a moderate  trek, so you must come well prepared to do the trek.</p>
                    </div>
                </div>
            </div>

            <footer class="footer">
                <h3>A Wanderer</h3>
                <h4>All rights reserved.</h4>
            </footer>
        </div>
    </body>
</html>