<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/png" href="./../../images/wanderer-fevicon.png">
        <title>
            A Wanderer
        </title>
        <link rel="stylesheet" href="./../../css/components/deoriatal/deoriatal.css">
    </head>

    <body>
        <div class="container">
            <header class="head">
                <div class="header-left-panel">
                    <div>
                        <img src="./../../images/wanderer-fevicon.png" alt="wanderer-logo" class="logo">
                    </div>
                    <div>
                        <h3 class="blog">
                            A Wanderer
                        </h3>
                        <h4 class="tagline">
                            Let's rest when we've seen all the world!
                        </h4>
                    </div>
                </div>

                <div class="header-right-panel">
                    <div class="link-section">
                        <a href="./../../../index.html" class="back-link"><img src="./../../images/back-arrow.png" alt="back-arrow" class="back-arrow">Country Roads...Take Me HOME!!</a>
                    </div>
                </div>
            </header>

            <div class="content-container">
                <div class="blog-content">
                    <img src="./../../images/Deoriatal-Chandrashila.jpeg" alt="background-img" class="background">
                    <div class="title">Deoriatal Chandrashila</div>
                    <p>The <strong>Deoriatal Chandrashila</strong> trek with Indiahikes is a 6 day trek. It is an extremely special trek because it is not just a section of the Himalayan ranges that you see, but all the major summits of Western and Eastern Uttarakhand from the summit.</p>
                </div>
            </div>

            <footer class="footer">
                <h3>A Wanderer</h3>
                <h4>All rights reserved.</h4>
            </footer>
        </div>
    </body>
</html>