@import "./../../../css/index.css";

.link-section {
    display: flex;
    align-items: center;
}

.back-arrow {
    height: 35px;
    width: 35px;
    filter: invert(100%);
    margin-right: 10px;
}

.back-link {
    display: flex;
    align-items: center;
}