@import "./../../../css/index.css";

.link-section {
    display: flex;
    align-items: center;
}

.back-arrow {
    height: 35px;
    width: 35px;
    filter: invert(100%);
    margin-right: 10px;
}

.back-link {
    display: flex;
    align-items: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: var(--secondary-text);
}

h1 {
    text-decoration: underline;
}

p {
    width: 50%;
    font-size: 24px;
    text-align: center;
}

.title {
    color: var(--secondary-text);
}