<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="./../../images/wanderer-fevicon.png">
        <title>
            A Wanderer
        </title>
        <link rel="stylesheet" href="./../../css/components/rupin/rupin.css">
    </head>

    <body>
        <div class="container">
            <header class="head">
                <div class="header-left-panel">
                    <div>
                        <img src="./../../images/wanderer-fevicon.png" alt="wanderer-logo" class="logo">
                    </div>
                    <div>
                        <h3 class="blog">
                            A Wanderer
                        </h3>
                        <h4 class="tagline">
                            Let's rest when we've seen all the world!
                        </h4>
                    </div>
                </div>

                <div class="header-right-panel">
                    <div class="link-section">
                        <a href="./../../../index.html" class="back-link"><img src="./../../images/back-arrow.png" alt="back-arrow" class="back-arrow">Country Roads...Take Me HOME!!</a>
                    </div>
                </div>
            </header>

            <div class="content-container">
                <div class="blog-content">
                    <img src="./../../images/Rupin-Pass.jpeg" alt="background-img" class="background">
                    <h1 class="title page-title">Rupin Pass</h1>
                    <div class="blog-inner-content">
                        <div class="author-desc">
                            <img src="./../../images/man.png" alt="man" class="avatar">
                            <h4 class="author-info">By: <strong>Sujit</strong></h4>
                            <h4 class="author-info">Student @ <strong>Udacity</strong> </h4>
                            <h4 class="author-info">Loves travelling and writing about journeys!</h4>
                            <div>
                                <a href="http://www.twitter.com" target="_blank" rel="noreferrer noopener" class="social-media-icon">
                                    <img src="./../../images/icon-twitter.png" alt="twitter">
                                </a>
                                <a href="http://www.facebook.com" target="_blank" rel="noreferrer noopener" class="social-media-icon">
                                    <img src="./../../images/icon-facebook.png" alt="facebook">
                                </a>
                                <a href="http://www.linkedin.com" target="_blank" rel="noreferrer noopener" class="social-media-icon">
                                    <img src="./../../images/icon-linkedin.png" alt="linkedin">
                                </a>
                            </div>
                        </div>
                        <p>If there is a classic trek in India, it has to be the <strong>Rupin Pass</strong>. This trek is like an orchestra, building up momentum with surprises in scenery every hour or so. With every step, the trek throws up a new vista to see, a new scenery to unfold.</p>
                    </div>
                </div>
            </div>

            <footer class="footer">
                <h3>A Wanderer</h3>
                <h4>All rights reserved.</h4>
            </footer>
        </div>
    </body>
</html>