<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="./../../images/wanderer-fevicon.png">
        <title>
            A Wanderer
        </title>
        <link rel="stylesheet" href="./../../css/components/kedarkantha/kedarkantha.css">
    </head>

    <body>
        <div class="container">
            <header class="head">
                <div class="header-left-panel">
                    <div>
                        <img src="./../../images/wanderer-fevicon.png" alt="wanderer-logo" class="logo">
                    </div>
                    <div>
                        <h3 class="blog">
                            A Wanderer
                        </h3>
                        <h4 class="tagline">
                            Let's rest when we've seen all the world!
                        </h4>
                    </div>
                </div>

                <div class="header-right-panel">
                    <div class="link-section">
                        <a href="./../../../index.html" class="back-link"><img src="./../../images/back-arrow.png" alt="back-arrow" class="back-arrow">Country Roads...Take Me HOME!!</a>
                    </div>
                </div>
            </header>

            <div class="content-container">
                <div class="blog-content">
                    <img src="./../../images/Kedarkantha.jpeg" alt="background-img" class="background">
                    <div class="title">Kedarkantha</div>
                    <div class="blog-inner-content">
                        <div class="author-desc">
                            <img src="./../../images/man.png" alt="man" class="avatar">
                            <h4 class="author-info">By: <strong>Sujit</strong></h4>
                            <h4 class="author-info">Student @ <strong>Udacity</strong> </h4>
                            <h4 class="author-info">Loves travelling and writing about journeys!</h4>
                            <div>
                                <a href="http://www.twitter.com" target="_blank" rel="noreferrer noopener" class="social-media-icon">
                                    <img src="./../../images/icon-twitter.png" alt="twitter">
                                </a>
                                <a href="http://www.facebook.com" target="_blank" rel="noreferrer noopener" class="social-media-icon">
                                    <img src="./../../images/icon-facebook.png" alt="facebook">
                                </a>
                                <a href="http://www.linkedin.com" target="_blank" rel="noreferrer noopener" class="social-media-icon">
                                    <img src="./../../images/icon-linkedin.png" alt="linkedin">
                                </a>
                            </div>
                        </div>
                        <p><strong>Kedarkantha</strong> is one of the first few treks we began organizing. It has a stunning summit climb, and is a perfect trek to do in all seasons. The Kedarkantha peak stands at an altitude of  12,500 ft with a 360 degree view of other Himlayan peaks. Over the year we have discovered new and adventurous routes to the summit.</p>
                    </div>
                </div>
            </div>

            <footer class="footer">
                <h3>A Wanderer</h3>
                <h4>All rights reserved.</h4>
            </footer>
        </div>
    </body>
</html>