.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    grid-area: ft;
    background-color: var(--footer-background);
    margin-top: 50px;
}