.head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    top: 0;
    min-height: 100px;
    height: fit-content;
    grid-area: hd;
    border-bottom: 1px solid var(--primary-text);
    background-color: var(--primary-color)
}

.header-left-panel,
.header-right-panel {
    display: flex;
}

.nav-link {
    margin: 0 10px 0 10px;
}

.header-left-panel {
    padding-left: 20px;
}

.header-right-panel {
    padding-right: 20px;
}

.link-section {
    display: flex;
    align-items: center;
}

.back-arrow {
    height: 35px;
    width: 35px;
    filter: invert(100%);
    margin-right: 10px;
}

.back-link {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {

    .head {
        justify-content: space-around;
    }

    .header-right-panel {
        flex-direction: column;
    }

    .back-arrow {
        width: 25px;
        height: 25px;
    }
}