:root {
    --primary-text: #fff;
    --secondary-text: #000;
    --primary-color: #808e95;
    --secondary-color: #b0bec5;
    --tertiary-color: #e2f1f8;
}

html,
body,
.container {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    background-color: var(--secondary-color)
}

body > * {
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: 500;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas: 
    "hd hd"
    "main main"
    "ft ft";
    grid-column-gap: 0;
}
    
.head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    top: 0;
    height: 100px;
    grid-area: hd;
    border-bottom: 1px solid var(--primary-text);
    background-color: var(--primary-color)
}

.header-left-panel,
.header-right-panel {
    display: flex;
}

.header-left-panel {
    padding-left: 20px;
}

.header-right-panel {
    padding-right: 20px;
}

.logo {
    height: 50px;
    width: 50px;
    margin-right: 15px;
}

a {
    color: var(--primary-text);
}

h3,
h4 {
    color: var(--primary-text);
    font-weight: 500;
    margin: 0px;
    text-transform: uppercase;
}

h3 {
    font-size: 30px;
    font-weight: 500;
}

.content-container {
    grid-area: main;
}

.background{
    width: 100%;
    height: 100%;
}

.intro {
    position: absolute;
    display: inline;
    margin: 50px;
    right: 0;
    color: var(--secondary-text);
    font-size: 24px;
    width: 400px;
}