:root {
    --primary-text: #fff;
    --secondary-text: #000;
    --primary-color: #808e95;
    --secondary-color: #b0bec5;
    --tertiary-color: #e2f1f8;
    --footer-background: #4e585d;
}

html,
body,
.container {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    background-color: var(--secondary-color)
}

body > * {
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: 500;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas: 
    "hd hd"
    "main main"
    "ft ft";
    grid-column-gap: 0;
}
    
.head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    top: 0;
    height: 100px;
    grid-area: hd;
    border-bottom: 1px solid var(--primary-text);
    background-color: var(--primary-color)
}

.header-left-panel,
.header-right-panel {
    display: flex;
}

.header-left-panel {
    padding-left: 20px;
}

.header-right-panel {
    padding-right: 20px;
}

.logo {
    height: 50px;
    width: 50px;
    margin-right: 15px;
}

a {
    color: var(--primary-text);
}

h3,
h4 {
    color: var(--primary-text);
    font-weight: 500;
    margin: 0px;
    text-transform: uppercase;
}

h3 {
    font-size: 30px;
    font-weight: 500;
}

.content-container {
    grid-area: main;
}

.background{
    width: 100%;
    height: 100%;
}

.intro {
    position: absolute;
    display: inline;
    margin: 50px;
    right: 0;
    color: var(--secondary-text);
    font-size: 24px;
    width: 400px;
}

.cards-container {
    display: grid;
    grid-template-columns: 1fr 350px 350px 1fr;
    grid-template-rows: 250px 250px;
    grid-template-areas: 
    "r1c1 r1c2 r1c3 r1c4"
    "r2c1 r2c2 r2c3 r2c4";
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-top: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    background-color: var(--primary-color);
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.8);
}

.card > a {
    color: var(--primary-text);
    font-size: 24px;
}

.card-image {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 15px;
}

#kedarkantha {
    grid-area: r1c2;
}

#deorital {
    grid-area: r1c3;
}

#tarsar {
    grid-area: r2c2;
}

#rupin {
    grid-area: r2c3;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    grid-area: ft;
    background-color: var(--footer-background);
    margin-top: 50px;
}