<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="./../../images/wanderer-fevicon.png">
        <title>
            A Wanderer
        </title>
        <link rel="stylesheet" href="./../../css/components/subscribe/subscribe.css">
    </head>

    <body>
        <div class="container">
            <header class="head">
                <div class="header-left-panel">
                    <div>
                        <img src="./../../images/wanderer-fevicon.png" alt="wanderer-logo" class="logo">
                    </div>
                    <div>
                        <h3 class="blog">
                            A Wanderer
                        </h3>
                        <h4 class="tagline">
                            Let's rest when we've seen all the world!
                        </h4>
                    </div>
                </div>

                <div class="header-right-panel">
                    <div class="link-section">
                        <a href="./../../../index.html" class="back-link"><img src="./../../images/back-arrow.png" alt="back-arrow" class="back-arrow">Country Roads...Take Me HOME!!</a>
                    </div>
                </div>
            </header>

            <div class="content-container">
                <h1 class="page-title">Hello, Wanderers!</h1>
                <p class="about">Hey, I'm Sujit; A Wanderer! Obsessed with exploring new places, serene landscapes, beautiful people and amazing food. I went on my first way back in 2010 and never stopped since...This blog is a way for me to keep and cherish my memories as well as connect with travellers to have thrilling adventures ahead.</p>
                <p class="about">I would love to connect with you; please subscribe to my blogpost below!</p>

                <div class="subscribe-wrapper">
                    <input type="email" class="email-input" placeholder="email">
                    <button class="primary-button">subscribe</button>
                </div>
            </div>

            <footer class="footer">
                <h3>A Wanderer</h3>
                <h4>All rights reserved.</h4>
            </footer>
        </div>
    </body>
</html>