<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/png" href="./../../images/wanderer-fevicon.png">
        <title>
            The Wanderers
        </title>
        <link rel="stylesheet" href="./../../css/components/deorital/deorital.css">
    </head>

    <body>
        <div class="container">
            <header class="head">
                <div class="header-left-panel">
                    <div>
                        <img src="./../../images/wanderer-fevicon.png" alt="wanderer-logo" class="logo">
                    </div>
                    <div>
                        <h3 class="blog">
                            The Wanderers
                        </h3>
                        <h4 class="tagline">
                            Let's rest when we've seen all the world!
                        </h4>
                    </div>
                </div>

                <div class="header-right-panel">
                    <div class="link-section">
                        <a href="./../../../index.html" class="back-link"><img src="./../../images/back-arrow.png" alt="back-arrow" class="back-arrow">Country Roads...Take Me HOME!!</a>
                    </div>
                </div>
            </header>

            <div class="content-container">
                
            </div>
        </div>
    </body>
</html>